<!DOCTYPE html>
<html>
  <head>
    <title>Wefactoryou</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    
    <%= javascript_include_tag 'application' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= favicon_link_tag asset_path('wefactoryou.ico'), :rel => 'icon', :type => "image/x-icon" %>
    
    <link rel="stylesheet" href="https://use.typekit.net/lnl8hjo.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    
  </head>

  <body>
    
    <%= render 'shared/navbar' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= value %>
          </div>
        <% end %>
      <% end %>  
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
